<div class="mb-4">
  <h1>Nova Escala Litúrgica</h1>
  <p style="color: var(--gray-600);">Cadastrar uma nova escala para celebração</p>
</div>

<div class="card">
  <div class="card-body">
    <%= render "form", grade: @grade %>
  </div>
</div>
