<div class="mb-4">
  <h1>Nova Pastoral</h1>
  <p style="color: var(--gray-600);">Cadastrar uma nova pastoral na paróquia</p>
</div>

<div class="card">
  <div class="card-body">
    <%= render "form", pastoral: @pastoral %>
  </div>
</div>
